body {
  margin: 0;
}

.button {
  width: 144px;
  height: 36px;
}

body {
  font-family: "Chakra Petch", sans-serif;
}

nav {
  width: 100%;
  -webkit-box-pack: flex;
      -ms-flex-pack: flex;
          justify-content: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Style The Dropdown Button */
  /* The container <div> - needed to position the dropdown content */
  /* Dropdown Content (Hidden by Default) */
  /* Links inside the dropdown */
  /* Change color of dropdown links on hover */
  /* Show the dropdown menu on hover */
  /* Change the background color of the dropdown button when the dropdown content is shown */
}

nav p {
  margin: 0;
}

nav .button {
  width: 144px;
  height: 36px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .buttonDropdown {
  width: 36px;
  height: 36px;
}

nav section.bottom {
  width: 1200px;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav section.bottom .navButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav .dropbtn {
  background-color: #F7C9F3;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 131px;
}

nav .dropdown {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #f9f9f9;
  width: 168px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

nav .dropdown-content a {
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  padding: 10px;
  text-decoration: none;
  display: block;
}

nav .dropdown-content .buttonTheme:hover {
  background-color: #FFF4FD;
}

nav .dropdown-content .buttonTheme2:hover {
  background-color: #2E32FB;
}

nav .dropdown:hover .dropdown-content {
  display: block;
}

nav .dropdown:hover .dropbtn {
  border: 1px solid #110038;
}

nav a div {
  width: 150px;
  height: 36px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

nav .buttonGifos:hover {
  width: 100px;
  height: 30px;
  border: dotted;
}

nav .arrow {
  border: none;
  background: none;
}

.crearGifsBox {
  width: 684px;
  height: 386px;
  margin-left: 5%;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.crearGifsBox p {
  margin: 0;
}

.crearGifsBox .windowGuifos {
  height: 23px;
}

img {
  padding: 4px;
}

.out {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 15%;
  border: 2px solid red;
}

.contenedor {
  width: 1200px;
  margin-left: 5%;
  margin-right: 5%;
}

.contenedor .oldWindow {
  border: outset;
  height: 99px;
}

.contenedor .oldWindow .searchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 15px 12px 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contenedor .oldWindow .innerWindow {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  width: 100%;
  color: white;
}

.contenedor .oldWindow #search {
  width: 1057px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  cursor: pointer;
  margin-right: 16px;
  padding-left: 16px;
}

.contenedor .oldWindow .searchButton {
  width: 102px;
  height: 36px;
  background: #E6E6E6;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor #autocompletar {
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.contenedor #autocompletar button {
  width: 1057px;
  height: 36px;
  background: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  margin-bottom: 10px;
}

.contenedor #autocompletar button:hover {
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.sugestions {
  margin-top: 40px;
  height: 32px;
  width: 1200px;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */