@import './atoms/normalize';
@import './atoms/_variables';

// body {
//   font-family: $fuentePrincipal;
// }

/* Section Header*/
header {
  width: 100%;
  justify-content: flex;
  flex-direction: column;
  margin-bottom: 20px;
  
  p.welcomeMessage {
    margin: 0;
    padding-left: 10px;
  }

  .button {
    width: 144px;
    height: 36px;
    flex-direction: row;
    font-family: $fuentePrincipal;
  }

  .buttonDropdown {
    width: 34px;
    height: 34px;

    .triangle {
      margin-left: 17%;
      margin-top: 31%;
    }
  }

  section.bottom {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 140px 0 5%;
    margin-top: 40px;

    .arrow {
      background: none;
      border: none;
    }

    .navButtons {
      display: flex;
      justify-content: space-between;
      width: 420px;

      /* Style The Dropdown Button */
      .dropbtn {
        cursor: pointer;
        width: 131px;
      }

      /* The container <div> - needed to position the dropdown content */
      .dropdown{
        position: relative;
        display: flex;
        flex-direction: row;
      }

      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        width: 168px;
        z-index: 1;
      }

      /* Links inside the dropdown */
      .dropdown-content a{
        font-size: 16px;
        letter-spacing: 0;
        line-height: 22px;
        padding: 10px;
        display: block;
        width: 130px;
        margin: 5px;

        .buttonTheme {
          height: 36px;
          text-align: center;
          align-items: center;
        }

        .buttonTheme2 {
          width: 150px;
          height: 36px;
          text-align: center;
          align-items: center;
          background: #F0F0F0;
          border: 1px solid #808080;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        }
      }

      /* Change color of dropdown links on hover */
      .buttonTheme:hover span {
        text-decoration: underline;
      }

      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }

      /* Change the background color of the dropdown button when the dropdown content is shown */
      .dropdown:hover .dropbtn {
        border: 1px solid #110038;
      }

      a div {
        width: 150px;
        height: 36px;
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        
      }

      .buttonGifos {
        text-align: center;
        padding-top: 10px;
      }
    
      .underlineLetter {
        text-decoration: underline;
      }
    
      .buttonGifos:hover {
        width: 95px;
        height: 25px;
        border: dotted 2px #110038;;
      }

      .arrow {
        border: none;
        background: none;
      }
    }
  }
}
/* Fin Section Header*/

/* Section Busqueda*/
section.busqueda {

  width: 90%;
  margin-left: 5%;
  margin-right: 5%;

  .oldWindow {
    border: outset;
    height: 99px;

    .innerWindow{
      background-image: $gradientPrincipal;
      width: 100%;
      color: white;
      }
  
    .searchForm {
      display: flex;
      padding: 12px 15px 12px 15px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      input {
        width: 90%;
        height: 48px;
        background: #FFFFFF;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
        padding-left: 10px;
      }
    }
  
    .btn-disabled {
      margin-left: 10px;
      width: 102px;
      height: 36px;
      text-decoration: none;
      padding: 0px;
      background-color: #e6e6e6;
      color: #b4b4b4;
      border: 1px solid #808080;
      -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
      box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
      pointer-events: none;
    }

    .btn-primary {
      margin-left: 10px;
      width: 102px;
      height: 36px;
      text-decoration: none;
      padding: 0px;
      background-color: #f7c9f3;
      color: #110038;
      border: 1px solid #110038;
      -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
              box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }

  .autocompleteSuggestedSearch {
    height: auto;
    background-color: #e6e6e6;
    z-index: 1;
    width: 90.8%;
    -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    position: relative;

    .search {
      width: 100%;
      padding: 17px calc(9%) 17px 17px;
      display: flex;
      flex-direction: column;
      position: absolute;
      -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
      box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
      background-color: #e6e6e6;

      .aBusqueda {
        width: 98%;
        padding: 6px 0px 0px 6px;
        height: 28px;
        margin-bottom: 11px;
        background: #f0f0f0;
        border: 1px solid #808080;
        -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
        box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
        cursor: pointer;
      }
    }
  }

  .autocompleteHashTag {

    margin-top: 15px;

      a  {
        background-color: #4180f6;
        padding: 8px;
        margin-right: 8px;
        color: white;
        border: 1px solid #4c2f99;
        -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
        box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    }
  }

  .hide {
    display: none;
  }
  
  .show {
    display: block;
  }
}
/* Fin Section Busqueda*/

/*Section Sugerencias*/
section.sugerencias {
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 80px;

  .sugestions {
    margin-top: 40px;
    height: 32px;
    width: 99%;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 10px;
  }

  .suggestionGif {
    height: 366px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 25%));
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    position: relative;
    justify-content: center;

    .divImgGif {
      width: 100%;
      height: 400px;
      background: #E6E6E6;
      box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;

      .hashTagTop {
        background-image: $gradientPrincipal;
        width: 98%;
        margin-left: 1%;
        margin-top: 1%;
        margin-bottom: 0;
        color: #fff;
        display: flex;
        justify-content: space-between;

        span{
          left: 7px;
          color: #ffffff;
          width: 81px;
          text-align: center;
          
        }
        a {
          margin-left: 27%;
        }
      }

      .imgGif {
        width: 98%;
        height: 93%;
        margin-top: 0;
        margin-left: 1%;
        margin-bottom: 1%;
        margin-right: 1%;
      }

      .gifButton {
        color: #fff;
        background: #4180F6;
        border: 1px solid #4C2F99;
        box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
        bottom: -20px;
        position: absolute;
        margin-left: 1%;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 8px 10px;
      }
    }
  }
}
/* Fin Section Sugerencias*/

/*Section Tendencias*/
section.tendencias {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 20px;

  input.trendingsGif {
    margin-top: 40px;
    height: 32px;
    width: 99%;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 10px;
  }

  div.searchGif {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 25%));
    grid-column-gap: 16px;
    grid-row-gap: 16px;

    .divImgGiftrendingGif {
      width: 100%;
      height: 300px;
      position: relative;

      .imgGif {
        width: 100%;
        height: 100%;
        margin-top: 0;
        object-fit: cover;
      }
  
      .hashTagBottom {
        color: #fff;
        width: 100%;
        position: absolute;
        opacity: 0;
        margin-top: 0;
        bottom: -17px;
      }

      &:hover {
        p{
          opacity: 1;
        background: $gradientPrincipal;
        }
      }
    }
  }

  div.divImgGif:hover {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    border: 1px black dotted;
  }
}
/*Fin Section Tendencias*/

/* Video view*/
/* Section Header*/
header {
  .iconsSecondView {
    display: flex;
    align-items: center;
    flex-direction: row;

    .arrow {
      cursor: pointer;
      margin-right: 5px;
    }
  }
}
  
section.crearGifsBox {
  width: 100%;
  margin-top: 7%;

  .principalBox {
    width: 47.5%;
    height: 35.9%;
    margin-left: 25%;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;

    .innerWindow {
      width: 99.5%;
      margin-top: 0%;
      margin-left: 3px;
      height: 24px;

      span {
        font-size: 14px;
        color: #FFF;
        font-weight: 700;
      }
    }

    .content {
      padding: 8px 14px 13px 8px;
      display: flex;

      .imgContainer {
        padding: 22px 16px 0 7px;
      }

      .textContainer {
        padding-top: 21px;
        max-width: 518px;

        h2 {
          font-size: 16px;
          line-height: 22px;
          font-weight: 700;
        }

        p {
          font-size: 14px;
          line-height: 20px;
        }

        ol li {
          list-style-type: none;
          counter-increment: lista; 
          position: relative;
          font-weight: 700;
          }
          
        ol li::before {
        content: counter(lista) ")"; 
        left: -32px;
        position: absolute;
        text-align: right;
        width: 26px;
        }
      }
    }

    .createButton {
      width: 144px;
      height: 36px;
      background: #FFF4FD;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
      margin-bottom: 36px;
      font-family: $fuentePrincipal;
    }
  }
}

section.misGifs {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 20px;

  input.misGifsInput {
    margin-top: 40px;
    height: 32px;
    width: 99%;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 10px;
  }
}
    