body {
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
}

.button {
  width: 144px;
  height: 36px;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.show2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.show3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button {
  cursor: pointer;
}

.button {
  width: 144px;
  height: 36px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Chakra Petch", sans-serif;
}

.button:hover {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

.button:active {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

/* Section Header*/
header {
  width: 100%;
  -webkit-box-pack: flex;
      -ms-flex-pack: flex;
          justify-content: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

header p.welcomeMessage {
  margin: 0;
  padding-left: 10px;
}

header .buttonDropdown {
  width: 34px;
  height: 34px;
}

header .buttonDropdown .triangle {
  margin-left: 17%;
  margin-top: 36%;
}

header section.bottom {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 140px 0 5%;
  margin-top: 40px;
}

header section.bottom .arrow {
  background: none;
  border: none;
}

header section.bottom .navButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 430px;
  /* Style The Dropdown Button */
  /* The container <div> - needed to position the dropdown content */
  /* Dropdown Content (Hidden by Default) */
  /* Links inside the dropdown */
  /* Change color of dropdown links on hover */
  /* Show the dropdown menu on hover */
  /* Change the background color of the dropdown button when the dropdown content is shown */
}

header section.bottom .navButtons .dropbtn {
  cursor: pointer;
  width: 131px;
}

header section.bottom .navButtons .dropdown {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header section.bottom .navButtons .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  width: 168px;
  z-index: 1;
}

header section.bottom .navButtons .dropdown-content a {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  padding: 10px;
  display: block;
  width: 130px;
  margin: 5px;
}

header section.bottom .navButtons .dropdown-content a .buttonTheme {
  height: 36px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section.bottom .navButtons .dropdown-content a .buttonTheme2 {
  width: 150px;
  height: 36px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

header section.bottom .navButtons .buttonTheme:hover span {
  text-decoration: underline;
}

header section.bottom .navButtons .dropdown:hover .dropdown-content {
  display: block;
}

header section.bottom .navButtons .dropdown:hover .dropbtn {
  border: 1px solid #110038;
}

header section.bottom .navButtons a div {
  width: 150px;
  height: 36px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

header section.bottom .navButtons .buttonGifos {
  padding-top: 10px;
  width: 95px;
  height: 36px;
  border: none;
  background-color: transparent;
}

header section.bottom .navButtons .buttonGifos:hover {
  outline: 1px dotted #110038;
  outline-offset: -2px;
}

header section.bottom .navButtons .underlineLetter {
  text-decoration: underline;
}

header section.bottom .navButtons .arrow {
  border: none;
  background: none;
}

/* Fin Section Header*/
/* Section Busqueda*/
section.busqueda {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

section.busqueda .oldWindow {
  border: outset;
  height: 99px;
}

section.busqueda .oldWindow .innerWindow {
  width: 100%;
  color: white;
}

section.busqueda .oldWindow .searchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 15px 12px 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.busqueda .oldWindow .searchForm input {
  width: 90%;
  height: 48px;
  background: #FFFFFF;
  padding-left: 10px;
}

section.busqueda .oldWindow .btn-disabled {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 10px;
  width: 102px;
  height: 36px;
  text-decoration: none;
  padding: 0px;
  pointer-events: none;
}

section.busqueda .oldWindow .btn-primary {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 10px;
  width: 102px;
  height: 36px;
  text-decoration: none;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  outline-offset: -4px;
}

section.busqueda .autocompleteSuggestedSearch {
  height: auto;
  z-index: 1;
  width: 90.8%;
  position: relative;
}

section.busqueda .autocompleteSuggestedSearch .search {
  width: 100%;
  padding: 17px calc(9%) 17px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
}

section.busqueda .autocompleteSuggestedSearch .search .aBusqueda {
  width: 98%;
  padding: 6px 0px 0px 6px;
  height: 28px;
  margin-bottom: 11px;
  cursor: pointer;
}

section.busqueda .autocompleteHashTag {
  margin-top: 15px;
}

section.busqueda .autocompleteHashTag a {
  background-color: #4180f6;
  padding: 8px;
  margin-right: 8px;
  color: white;
  border: 1px solid #4c2f99;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  cursor: pointer;
}

/* Fin Section Busqueda*/
/*Section Sugerencias*/
section.sugerencias {
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 80px;
}

section.sugerencias .sugestions {
  margin-top: 40px;
  height: 32px;
  width: 99%;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding-left: 10px;
}

section.sugerencias .suggestionGif {
  height: 366px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 25%))[4];
      grid-template-columns: repeat(4, minmax(0, 25%));
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.sugerencias .suggestionGif .divImgGif {
  width: 100%;
  height: 400px;
}

section.sugerencias .suggestionGif .divImgGif .hashTagTop {
  width: 98%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.sugerencias .suggestionGif .divImgGif .hashTagTop span {
  left: 7px;
  color: #ffffff;
  width: 81px;
  text-align: center;
}

section.sugerencias .suggestionGif .divImgGif .hashTagTop a {
  margin-left: 27%;
}

section.sugerencias .suggestionGif .divImgGif .imgGif {
  width: 98%;
  height: 93%;
  margin-top: 0;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
}

section.sugerencias .suggestionGif .divImgGif .gifButton {
  color: #fff;
  background: #4180F6;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  bottom: -20px;
  position: absolute;
  margin-left: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 8px 10px;
}

section.sugerencias .suggestionGif .divImgGif .gifButton:hover {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

section.sugerencias .suggestionGif .divImgGif:hover {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

/* Fin Section Sugerencias*/
/* Loader */
.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 12px;
  height: 12px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*Fin Section loader*/
/*Section Tendencias*/
section.tendencias {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 20px;
}

section.tendencias input.trendingsGif {
  margin-top: 40px;
  height: 32px;
  width: 99%;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding-left: 10px;
}

section.tendencias div.searchGif {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 25%))[4];
      grid-template-columns: repeat(4, minmax(0, 25%));
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

section.tendencias div.searchGif .divImgGiftrendingGif {
  width: 100%;
  height: 300px;
  position: relative;
}

section.tendencias div.searchGif .divImgGiftrendingGif:hover {
  background: #E6E6E6;
  border: outset;
  outline: 1px dotted #110038;
  outline-offset: -5px;
}

section.tendencias div.searchGif .divImgGiftrendingGif .imgGif {
  width: 100%;
  height: 100%;
  margin-top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

section.tendencias div.searchGif .divImgGiftrendingGif .hashTagBottom {
  color: #fff;
  width: 100%;
  position: absolute;
  opacity: 0;
  margin-top: 0;
  bottom: -17px;
}

section.tendencias div.searchGif .divImgGiftrendingGif:hover {
  width: 100%;
}

section.tendencias div.searchGif .divImgGiftrendingGif:hover p {
  opacity: 1;
}

section.tendencias div.searchGif .divImgGiftrendingGif:nth-child(5n+5) {
  grid-column: span 2;
}

/*Fin Section Tendencias*/
/* Video view*/
/* Section Header*/
header .iconsSecondView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .iconsSecondView .arrow {
  cursor: pointer;
  margin-right: 5px;
}

section.crearGifsBox {
  width: 100%;
  margin-top: -2%;
}

section.crearGifsBox .principalBox {
  width: 684px;
  height: 386px;
  margin: 75px auto 153px;
  top: -10px;
  border: outset;
}

section.crearGifsBox .principalBox .innerWindow {
  height: 24px;
  color: white;
}

section.crearGifsBox .principalBox .innerWindow span {
  font-size: 14px;
  color: #FFF;
  font-weight: 700;
  margin-left: 10px;
}

section.crearGifsBox .principalBox .content {
  padding: 8px 14px 13px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.crearGifsBox .principalBox .content .imgContainer {
  padding: 22px 16px 0 7px;
}

section.crearGifsBox .principalBox .content .textContainer {
  padding-top: 21px;
  max-width: 518px;
}

section.crearGifsBox .principalBox .content .textContainer h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

section.crearGifsBox .principalBox .content .textContainer p {
  font-size: 14px;
  line-height: 20px;
}

section.crearGifsBox .principalBox .content .textContainer ol li {
  list-style-type: none;
  counter-increment: lista;
  position: relative;
  font-weight: 700;
}

section.crearGifsBox .principalBox .content .textContainer ol li::before {
  content: counter(lista) ")";
  left: -32px;
  position: absolute;
  text-align: right;
  width: 26px;
}

section.crearGifsBox .principalBox .recordButtons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section.crearGifsBox .principalBox .recordButtons .createButton {
  width: 144px;
  height: 36px;
  background: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  font-family: "Chakra Petch", sans-serif;
  margin-right: 3%;
}

section.crearGifsBox .principalBox .recordButtons .createButton:hover {
  background: #F7C9F3;
}

section.crearGifsBox .videoPreview {
  width: 860px;
  height: 548px;
  margin: 75px auto 153px;
  border: outset;
}

section.crearGifsBox .videoPreview .innerWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.crearGifsBox .videoPreview .innerWindow span {
  margin-left: 10px;
}

section.crearGifsBox .videoPreview .innerWindow a {
  margin-right: 10px;
  margin-top: 3px;
}

section.crearGifsBox .videoPreview .videoWindow {
  width: 836px;
  height: 440px;
  margin: 10px 0 10px 10px;
  border: inset;
}

section.crearGifsBox .videoPreview .videoWindow .videoRecord {
  -o-object-fit: fill;
     object-fit: fill;
}

section.crearGifsBox .videoPreview .videoWindow .gifPreview {
  width: 832px;
  height: 435px;
  padding: 2px;
}

section.crearGifsBox .videoPreview .videoWindow .contentUploadingGif {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 21% 31% 21% 31%;
  font-family: "Chakra Petch", sans-serif;
}

section.crearGifsBox .videoPreview .videoWindow .contentUploadingGif .spanupper {
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
}

section.crearGifsBox .videoPreview .videoWindow .contentUploadingGif .div-upload-progress-bar {
  width: 240px;
  height: 24px;
  -webkit-box-shadow: inset -2px -2px 0 0 #2b2020, inset 2px 2px 0 0 #000;
          box-shadow: inset -2px -2px 0 0 #2b2020, inset 2px 2px 0 0 #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2px;
  overflow: hidden;
}

section.crearGifsBox .videoPreview .videoWindow .contentUploadingGif .div-upload-progress-bar div {
  width: 12px;
  height: 20px;
  background-color: #999999;
  border: solid 1px #ffffff;
}

section.crearGifsBox .videoPreview .videoWindow .contentUploadingGif .div-upload-progress-bar .pink {
  background-color: #F7C9F3;
}

section.crearGifsBox .videoPreview .videoWindow .contentUploadingGif .line-through-text {
  text-decoration: line-through;
}

section.crearGifsBox .videoPreview .videoWindow .contentUploadingGif .span {
  font-size: 12px;
  color: rgba(17, 0, 56, 0.64);
  letter-spacing: 0;
  text-align: center;
  line-height: 14px;
}

section.crearGifsBox .capture {
  font-family: "Chakra Petch", sans-serif;
  width: 100%;
}

section.crearGifsBox .capture .captureButtons {
  width: 100%;
}

section.crearGifsBox .capture .captureButtons .captureSection {
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section.crearGifsBox .capture .captureButtons .captureSection .camaraSvg {
  width: 34px;
  height: 34px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.crearGifsBox .capture .captureButtons .recordingSection {
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.crearGifsBox .capture .captureButtons .recordingSection .chronometerGif {
  margin-left: 10px;
  width: 124px;
  font-family: "Chakra Petch", sans-serif;
  text-align: center;
  border: inset;
}

section.crearGifsBox .capture .captureButtons .recordingSection .recordingButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

section.crearGifsBox .capture .captureButtons .recordingSection .recordingButtons .camaraSvg {
  width: 34px;
  height: 34px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.crearGifsBox .capture .captureButtons .uploadGifSection {
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.crearGifsBox .capture .captureButtons .uploadGifSection .chronometerGif {
  margin-left: 10px;
  width: 124px;
  font-family: "Chakra Petch", sans-serif;
  text-align: center;
  border: inset;
}

section.crearGifsBox .capture .captureButtons .uploadGifSection .play-progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 7px;
}

section.crearGifsBox .capture .captureButtons .uploadGifSection .play-progress-bar .btn-play-preview-gif {
  width: 26px;
  height: 26px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
}

section.crearGifsBox .capture .captureButtons .uploadGifSection .play-progress-bar .preview-progress-bar {
  width: 240px;
  height: 24px;
  -webkit-box-shadow: inset -2px -2px 0 0 #fffcfc, inset 2px 2px 0 0 #000;
          box-shadow: inset -2px -2px 0 0 #fffcfc, inset 2px 2px 0 0 #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2px;
  overflow: hidden;
}

section.crearGifsBox .capture .captureButtons .uploadGifSection .play-progress-bar .preview-progress-bar div {
  width: 12px;
  height: 20px;
  background-color: #999999;
  border: solid 1px #ffffff;
}

section.crearGifsBox .capture .captureButtons .uploadGifSection .play-progress-bar .preview-progress-bar .pink {
  background-color: #F7C9F3;
}

section.crearGifsBox .capture .captureButtons .uploadGifSection .uploadButtons {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.crearGifsBox .capture .captureButtons .uploadingSection {
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section.crearGifsBox .capture .captureButtons .uploadingSection .cancelButton {
  width: 144px;
  height: 36px;
  font-family: "Chakra Petch", sans-serif;
  color: #110038;
  background: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

section.crearGifsBox .successfullyUploadedGif {
  width: 721px;
  height: 391px;
  border: outset;
  background: #E6E6E6;
  margin: 75px auto 153px;
  top: -10px;
}

section.crearGifsBox .successfullyUploadedGif .innerWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.crearGifsBox .successfullyUploadedGif .innerWindow span {
  margin-left: 10px;
}

section.crearGifsBox .successfullyUploadedGif .innerWindow a {
  margin-right: 10px;
  margin-top: 3px;
}

section.crearGifsBox .successfullyUploadedGif .content {
  margin: 20px 0 0 20px;
  padding: 8px 14px 13px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Chakra Petch", sans-serif;
}

section.crearGifsBox .successfullyUploadedGif .content .imgContainer {
  width: 371px;
  height: 196px;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  -o-object-fit: fill;
     object-fit: fill;
  margin-right: 10px;
}

section.crearGifsBox .successfullyUploadedGif .content .imgContainer img {
  width: 367px;
  height: 192px;
  margin: 2px 0 0 2px;
}

section.crearGifsBox .successfullyUploadedGif .content .btns-end-gif {
  font-family: "Chakra Petch", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  padding-top: 10px;
}

section.crearGifsBox .successfullyUploadedGif .content .btns-end-gif .cancelButton {
  width: 256px;
  height: 36px;
  background: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

section.crearGifsBox .successfullyUploadedGif .finishButtons {
  width: 100%;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section.crearGifsBox .successfullyUploadedGif .finishButtons .finishButton {
  width: 144px;
  height: 36px;
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  margin-right: 6%;
}

section.misGifs {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 20px;
}

section.misGifs input.misGifsInput {
  margin-top: 40px;
  height: 32px;
  width: 99%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding-left: 10px;
}

section.misGifs div.div-my-gifos-gif {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: (minmax(0, 25%))[4];
      grid-template-columns: repeat(4, minmax(0, 25%));
}

section.misGifs div.div-my-gifos-gif .divImgGif {
  width: 100%;
  height: 300px;
  position: relative;
}

section.misGifs div.div-my-gifos-gif .divImgGif .imgGif {
  width: 100%;
  height: 100%;
  margin-top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=styles.css.map */