body {
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
}

.button {
  width: 144px;
  height: 36px;
}

/* Section Header*/
header {
  width: 100%;
  -webkit-box-pack: flex;
      -ms-flex-pack: flex;
          justify-content: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

header p.welcomeMessage {
  margin: 0;
  padding-left: 10px;
}

header .button {
  width: 144px;
  height: 36px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Chakra Petch", sans-serif;
}

header .button:hover {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

header .button:active {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

header .buttonDropdown {
  width: 34px;
  height: 34px;
}

header .buttonDropdown .triangle {
  margin-left: 17%;
  margin-top: 31%;
}

header section.bottom {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 140px 0 5%;
  margin-top: 40px;
}

header section.bottom .arrow {
  background: none;
  border: none;
}

header section.bottom .navButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 430px;
  /* Style The Dropdown Button */
  /* The container <div> - needed to position the dropdown content */
  /* Dropdown Content (Hidden by Default) */
  /* Links inside the dropdown */
  /* Change color of dropdown links on hover */
  /* Show the dropdown menu on hover */
  /* Change the background color of the dropdown button when the dropdown content is shown */
}

header section.bottom .navButtons .dropbtn {
  cursor: pointer;
  width: 131px;
}

header section.bottom .navButtons .dropdown {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header section.bottom .navButtons .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  width: 168px;
  z-index: 1;
}

header section.bottom .navButtons .dropdown-content a {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  padding: 10px;
  display: block;
  width: 130px;
  margin: 5px;
}

header section.bottom .navButtons .dropdown-content a .buttonTheme {
  height: 36px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section.bottom .navButtons .dropdown-content a .buttonTheme2 {
  width: 150px;
  height: 36px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

header section.bottom .navButtons .buttonTheme:hover span {
  text-decoration: underline;
}

header section.bottom .navButtons .dropdown:hover .dropdown-content {
  display: block;
}

header section.bottom .navButtons .dropdown:hover .dropbtn {
  border: 1px solid #110038;
}

header section.bottom .navButtons a div {
  width: 150px;
  height: 36px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

header section.bottom .navButtons .buttonGifos {
  padding-top: 10px;
  width: 95px;
  height: 25px;
}

header section.bottom .navButtons .underlineLetter {
  text-decoration: underline;
}

header section.bottom .navButtons .arrow {
  border: none;
  background: none;
}

/* Fin Section Header*/
/* Section Busqueda*/
section.busqueda {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

section.busqueda .oldWindow {
  border: outset;
  height: 99px;
}

section.busqueda .oldWindow .innerWindow {
  width: 100%;
  color: white;
}

section.busqueda .oldWindow .searchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 15px 12px 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.busqueda .oldWindow .searchForm input {
  width: 90%;
  height: 48px;
  background: #FFFFFF;
  padding-left: 10px;
}

section.busqueda .oldWindow .btn-disabled {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 10px;
  width: 102px;
  height: 36px;
  text-decoration: none;
  padding: 0px;
  pointer-events: none;
}

section.busqueda .oldWindow .btn-primary {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 10px;
  width: 102px;
  height: 36px;
  text-decoration: none;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.busqueda .autocompleteSuggestedSearch {
  height: auto;
  z-index: 1;
  width: 90.8%;
  position: relative;
}

section.busqueda .autocompleteSuggestedSearch .search {
  width: 100%;
  padding: 17px calc(9%) 17px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
}

section.busqueda .autocompleteSuggestedSearch .search .aBusqueda {
  width: 98%;
  padding: 6px 0px 0px 6px;
  height: 28px;
  margin-bottom: 11px;
  cursor: pointer;
}

section.busqueda .autocompleteHashTag {
  margin-top: 15px;
}

section.busqueda .autocompleteHashTag a {
  background-color: #4180f6;
  padding: 8px;
  margin-right: 8px;
  color: white;
  border: 1px solid #4c2f99;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

section.busqueda .hide {
  display: none;
}

section.busqueda .show {
  display: block;
}

/* Fin Section Busqueda*/
/*Section Sugerencias*/
section.sugerencias {
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 80px;
}

section.sugerencias .sugestions {
  margin-top: 40px;
  height: 32px;
  width: 99%;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding-left: 10px;
}

section.sugerencias .suggestionGif {
  height: 366px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 25%))[4];
      grid-template-columns: repeat(4, minmax(0, 25%));
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.sugerencias .suggestionGif .divImgGif {
  width: 100%;
  height: 400px;
}

section.sugerencias .suggestionGif .divImgGif .hashTagTop {
  width: 98%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.sugerencias .suggestionGif .divImgGif .hashTagTop span {
  left: 7px;
  color: #ffffff;
  width: 81px;
  text-align: center;
}

section.sugerencias .suggestionGif .divImgGif .hashTagTop a {
  margin-left: 27%;
}

section.sugerencias .suggestionGif .divImgGif .imgGif {
  width: 98%;
  height: 93%;
  margin-top: 0;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
}

section.sugerencias .suggestionGif .divImgGif .gifButton {
  color: #fff;
  background: #4180F6;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  bottom: -20px;
  position: absolute;
  margin-left: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 8px 10px;
}

section.sugerencias .suggestionGif .divImgGif .gifButton:hover {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

section.sugerencias .suggestionGif .divImgGif:hover {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

/* Fin Section Sugerencias*/
/*Section Tendencias*/
section.tendencias {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 20px;
}

section.tendencias input.trendingsGif {
  margin-top: 40px;
  height: 32px;
  width: 99%;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding-left: 10px;
}

section.tendencias div.searchGif {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 25%))[4];
      grid-template-columns: repeat(4, minmax(0, 25%));
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

section.tendencias div.searchGif .divImgGiftrendingGif {
  width: 100%;
  height: 300px;
  position: relative;
}

section.tendencias div.searchGif .divImgGiftrendingGif:hover {
  width: 103%;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

section.tendencias div.searchGif .divImgGiftrendingGif .imgGif {
  width: 100%;
  height: 100%;
  margin-top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

section.tendencias div.searchGif .divImgGiftrendingGif .hashTagBottom {
  color: #fff;
  width: 100%;
  position: absolute;
  opacity: 0;
  margin-top: 0;
  bottom: -17px;
}

section.tendencias div.searchGif .divImgGiftrendingGif:hover {
  width: 102%;
}

section.tendencias div.searchGif .divImgGiftrendingGif:hover .imgGif {
  width: 98%;
  height: 97%;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  border: 1px #110038 dotted;
}

section.tendencias div.searchGif .divImgGiftrendingGif:hover p {
  opacity: 1;
  width: 98%;
  bottom: -12px;
  margin-left: 1.1%;
}

section.tendencias div.searchGif .divImgGiftrendingGif:nth-child(5n+5) {
  grid-column: span 2;
}

/*Fin Section Tendencias*/
/* Video view*/
/* Section Header*/
header .iconsSecondView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .iconsSecondView .arrow {
  cursor: pointer;
  margin-right: 5px;
}

section.crearGifsBox {
  width: 100%;
  margin-top: 7%;
}

section.crearGifsBox .principalBox {
  width: 47.5%;
  height: 35.9%;
  margin-left: 25%;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

section.crearGifsBox .principalBox .innerWindow {
  width: 99.5%;
  margin-top: 0%;
  margin-left: 3px;
  height: 24px;
  color: white;
}

section.crearGifsBox .principalBox .innerWindow span {
  font-size: 14px;
  color: #FFF;
  font-weight: 700;
}

section.crearGifsBox .principalBox .content {
  padding: 8px 14px 13px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.crearGifsBox .principalBox .content .imgContainer {
  padding: 22px 16px 0 7px;
}

section.crearGifsBox .principalBox .content .textContainer {
  padding-top: 21px;
  max-width: 518px;
}

section.crearGifsBox .principalBox .content .textContainer h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

section.crearGifsBox .principalBox .content .textContainer p {
  font-size: 14px;
  line-height: 20px;
}

section.crearGifsBox .principalBox .content .textContainer ol li {
  list-style-type: none;
  counter-increment: lista;
  position: relative;
  font-weight: 700;
}

section.crearGifsBox .principalBox .content .textContainer ol li::before {
  content: counter(lista) ")";
  left: -32px;
  position: absolute;
  text-align: right;
  width: 26px;
}

section.crearGifsBox .principalBox .createButton {
  width: 144px;
  height: 36px;
  background: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  margin-bottom: 36px;
  font-family: "Chakra Petch", sans-serif;
}

section.misGifs {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 20px;
}

section.misGifs input.misGifsInput {
  margin-top: 40px;
  height: 32px;
  width: 99%;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding-left: 10px;
}
/*# sourceMappingURL=styles.css.map */