@import './atoms/normalize';
@import './atoms/_variables';

header {
  width: 100%;
  justify-content: flex;
  flex-direction: column;
  margin-bottom: 20px;
  
  p {
    margin: 0;
  }

  .button {
    width: 144px;
    height: 36px;
    flex-direction: row;
  }

  .buttonDropdown {
    width: 36px;
    height: 36px;
  }

  section.bottom {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 140px 0 5%;
    margin-top: 40px;

    .navButtons {
      display: flex;
      justify-content: space-between;
      width: 420px;

      /* Style The Dropdown Button */
      .dropbtn {
        cursor: pointer;
        width: 131px;
      }

      /* The container <div> - needed to position the dropdown content */
      .dropdown{
        position: relative;
        display: flex;
        flex-direction: row;
      }

      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        width: 168px;
        z-index: 1;
      }

      /* Links inside the dropdown */
      .dropdown-content a{
        font-size: 16px;
        letter-spacing: 0;
        line-height: 22px;
        padding: 10px;
        display: block;
        width: 130px;
        margin: 5px;

        .buttonTheme {
          height: 36px;
          text-align: center;
          align-items: center;
        }

        .buttonTheme2 {
          width: 150px;
          height: 36px;
          text-align: center;
          align-items: center;
          background: #F0F0F0;
          border: 1px solid #808080;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        }
      }

      /* Change color of dropdown links on hover */
      .buttonTheme:hover span {
        text-decoration: underline;
      }

      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }

      /* Change the background color of the dropdown button when the dropdown content is shown */
      .dropdown:hover .dropbtn {
        border: 1px solid #110038;
      }

      a div {
        width: 150px;
        height: 36px;
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        
      }

      .buttonGifos {
        text-align: center;
        padding-top: 10px;
      }
    
      .underlineLetter {
        text-decoration: underline;
      }
    
      .buttonGifos:hover {
        width: 95px;
        height: 25px;
        border: dotted 2px #110038;;
      }

      .arrow {
        border: none;
        background: none;
      }
    }
  }
}

/* Section Busqueda*/
section.busqueda {

  width: 90%;
  margin-left: 5%;
  margin-right: 5%;

  .oldWindow {
    border: outset;
    height: 99px;

    .innerWindow{
      background-image: $gradientPrincipal;
      width: 100%;
      color: white;
      }
  
    .searchForm {
      display: flex;
      padding: 12px 15px 12px 15px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      input {
        width: 90%;
      }

    }
  
    .searchButton {
      margin-left: 10px;
      width: 102px;
      height: 36px;
      background: #E6E6E6;
      border: 1px solid #808080;
      box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
      display: flex;
      justify-content: center;
    }
  }

  #autocompleteSuggestedSearch {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 20px;
  
    button {
      width: 90%;
      height: 36px;
      background: #F0F0F0;
      border: 1px solid #808080;
      box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
      margin-bottom: 10px;

    }
  
    button:hover {
      background: #E6E6E6;
      box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    }
  }
  
}

/*Section Sugerencias*/
section.sugerencias {
  width: 90%;
  height: 352px;
  margin-left: 5%;
  margin-top: 64px;
  margin-bottom: 50px;

  .sugestions {
    margin-top: 40px;
    height: 32px;
    width: 100%;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    align-items: center;
    margin-bottom: 40px;
  }

  .suggestionGif {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    position: relative;

    .divImgGif {
    width: 288px;
    height: 313px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    }

    .hashTagTop {
      background-image: $gradientPrincipal;
      width: 98%;
      margin-left: 1%;
    }

    a{
      position: absolute;
      bottom: 15px;
      left: 7px;
      background-color: #4180f6;
      color: #ffffff;
      width: 81px;
      padding: 8px 10px;
      text-align: center;
    }
  }
}

/*Section Tendencias*/
section.tendencias {
  width: 90%;
  margin-left: 5%;

  input.trendingsGif {
    margin-top: 40px;
    height: 32px;
    width: 100%;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    align-items: center;
    margin-bottom: 40px;
  }

  div.searchGif {
    width: 1200px;
    margin-left: 5%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 25%));
    grid-column-gap: 16px;
    grid-row-gap: 16px;

    .hashTagBottom {
      display: none;
    }
  
    .hashTagBottom:hover {
      display: block;
      background: $gradientPrincipal;
    }
  }
}

/* video view*/

ol li {
  list-style-type: none;
  counter-increment: lista; 
  position: relative;
  }
  
  ol li::before {
  content: counter(lista) ")"; 
  left: -32px;
  position: absolute;
  text-align: right;
  width: 26px;
  }

    