<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>gifOS</title>

  <link rel="stylesheet" type="text/css" href="../css/styles.css" />
  <link id="theme" rel="stylesheet" type="text/css" href="../css/pages/theme1.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/RecordRTC/5.5.8/RecordRTC.js"></script>
  <!-- <script src="../js/firebaseCounter.js"></script> -->
</head>

<body>
  <nav class="navigation">
    <div class="top">
      <p>
        ¡Bienvenidos/as a Guifos.com! ——————Donde los gifs están.////// Número
        de visitas: 12.765.803
      </p>
    </div>
    <section class="bottom">
      <div>
        <button class="arrow" onclick="window.location.href = '../index.html';">
          <img src="../assets/arrow.svg" alt="imagen de flecha para regresar" />
        </button>
        <img src="../assets/gifOF_logo.png" alt="logo con las letras b y d" class="bola" />
      </div>
    </section>
  </nav>
  <section class="crearGifsBox">
    <div class="windowGuifos">
      <p>Crear Guifos</p>
    </div>
    <img src="../assets/window_img.png" alt="imagen de ventana de windows xp" />
    <h4>Aquí podrás crear tus propios guifos</h4>
    <pre>
        Crear tu <strong>guifo</strong> es muy fácil, graba cualquier imagen con tu cámara y obtén guifos 
        personalizados. Los pasos para crear tu guifo son: 
        1) Dar permisos de acceso a la cámara (sólo por el tiempo de uso) 
        2) Capturar tu momento guifo 
        3) Revisar el momento 
        4) Listo para subir y compartir!
        ¿Quieres comenzar a crear tu guifo ahora?
      </pre>
  </section>
  <div>
    <video id="videoRecord"></video>
    <button onclick="startVideoRecording();">Iniciar grabación</button>
    <button onclick="stopVideoRecording();">Detener grabación</button>
  </div>

  <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
  <script src="../js/recordRTC.js"></script>
  <script src="../js/const.js"></script>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-analytics.js"></script>
</body>

</html>