$gradientPrincipal: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
$gradientSecundario: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
$botonPrincipal: #F7C9F3;
$botonSecundario: #EE3EFE;
$fuentePrincipal: 'Chakra Petch', sans-serif;
$colorFuentePrincipal: #110038;
$colorFuenteSecundario: #FFFFFF;