@import '../atoms/_variables.scss';

body {
  background-color: #110038;
}

.top {
  background-image: $gradientSecundario;
  box-shadow: 0 1px 0 0 #110038;
}

.windowGuifos {
  background-image: $gradientSecundario;
}