@import '../atoms/_variables.scss';

body {
  background-color: #110038;
}

.topHeader {
  background-image: $gradientSecundario;
  box-shadow: 0 1px 0 0 #110038;
  color: #fff;
}


.dropdown-content {
  background: #B4B4B4;
box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

a div {
  background: #CCCCCC;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.dropdown-content a {
  background: #CCCCCC;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.buttonTheme {
  color: $colorFuentePrincipal;
}

.dropdown-content .buttonTheme:hover {
  background: #2E32FB;
  border: 1px solid rgba(51,53,143,0.20);
  box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
  color: $colorFuenteSecundario;
  
}

.triangle{
  width: 0;
  height: 0;
  border-width: 10px 10px 0 10px;
  border-color: #FFFFFF transparent transparent transparent;
  border-style: solid;
  filter: drop-shadow(-2px 2px 1px #000000);
  -webkit-filter: drop-shadow(-2px 2px 1px #000000);
}

.button {
  background: #EE3EFE;
  border: 1px solid #110038; 
  box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.button:hover {
  background: #CE36DB;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.buttonGifos {
  color: $colorFuenteSecundario;

  &:hover {
    border: dotted 1px #ffffff;
  }
}

.windowGuifos {
  background-image: $gradientSecundario;
}

.innerWindow{
  background-image: $gradientSecundario;
  }

  input {
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  }

  .divImgGif {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
  
    .hashTagTop {
      background-image: $gradientSecundario;
    }
  }

  .btn-disabled {
    color: #8F8F8F;
    background: #B4B4B4;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  }

  .btn-primary {
    color: #FFFFFF;
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  }

  .autocompleteSuggestedSearch {

    .search {
      background: #B4B4B4;
      box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;

      .aBusqueda {
        background: #CCCCCC;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;

        &:hover {
          outline: 1px dotted #110038;
          outline-offset: -4px;
        }
      }
    }
  }

  .hashTagBottom {
    background-image: $gradientSecundario;
  }