@import '../atoms/_variables.scss';

body {
  background-color: #fff4fd;
}

.topHeader {
  color: #fff;
  width: 100%;
  height: 23px;
  border-bottom: 1px solid black;
  background-image: $gradientPrincipal;
  box-shadow: 0 1px 0 0 $colorFuentePrincipal;
}

.dropdown-content {
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.dropdown-content a {
  background: #F0F0F0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.buttonTheme {
  color: $colorFuentePrincipal;
}

.buttonTheme:hover {
  background: #FFF4FD;
  border: 1px solid #CCA6C9;
  box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.button {
  background: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  font-size: 16px;
  color: $colorFuentePrincipal;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.button:hover {
  background: #E6BBE2;
  border: 1px solid $colorFuentePrincipal;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.orange {
  background: #FF6161 !important;
  color: #ffffff;
}

.triangle{
  width: 0;
  height: 0;
  border-width: 10px 10px 0 10px;
  border-color: #000000 transparent transparent transparent;
  border-style: solid;
  filter: drop-shadow(-2px 2px 1px #ffffff);
  -webkit-filter: drop-shadow(-2px 2px 1px #ffffff);
}

.dropdown-content a {
  color: $colorFuentePrincipal;
  text-decoration: none;
}

.buttonGifos {

  font-family: $fuentePrincipal;
  font-size: 16px;
  color: $colorFuentePrincipal;
  letter-spacing: 0;
  line-height: 18px;

  &:hover {
    border: dotted 1px $colorFuentePrincipal;
  }
}

.oldWindow {

  .innerWindow{
    background-image: $gradientPrincipal;
    color: white;
    }

    .searchForm {
      background: #E6E6E6 ;
    }

    input {
      border: 1px solid #979797;
      box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    }

    .btn-disabled {
      color: #B4B4B4;
      background-color: #e6e6e6;
      box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
      -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
    }
    
    .btn-primary {
      color: #110038;
      background-color: #f7c9f3;
      border: 1px solid #110038;
      -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;

      &:hover {
        background-color: #E6BBE2;
        border: dotted 1px $colorFuentePrincipal;
      }
    }
}




.divImgGif {
  background: #E6E6E6;

  .hashTagTop {
    background-image: $gradientPrincipal;
  }
}



.autocompleteSuggestedSearch {
  
  .search {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;

    .aBusqueda {
      background: #f0f0f0;
      border: 1px solid #808080;
      -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
      box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;

      &:hover {
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; 
        outline: 1px dotted #110038;
        outline-offset: -4px;
      }
    }
  }
}


.hashTagBottom {
  background-image: $gradientPrincipal;
}

section.crearGifsBox {

  .innerWindow{
    background-image: $gradientPrincipal;
    color: white;
    }

  .principalBox {
    background: #E6E6E6;   
  }

  .videoPreview {
    background: #E6E6E6;

    .videoWindow {
      background: #ffffff;
      box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; 
    }
  }

  .camaraSvg, .btn-play-preview-gif {
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  }

  
}

section.misGifs {

  input.misGifsInput {
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;

  }
}